# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

keyframes/
processed_keyframes/
application/aggregator/web/static/

# Virtual environment
venv/
/venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE configuration
.vscode/
.idea/

# Local files
*.local

# Project-specific ignores
video.mp4
*.pt
*.mp4
keyframes/
keyframes_triggered/
